@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/*  Fonts  */
@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular.woff') format('woff'),
         url('../fonts/raleway-regular.ttf') format('truetype'),
         url('../fonts/raleway-regular.svg#raleway-regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-semibold';
    src: url('../fonts/raleway-semibold.eot');
    src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-semibold.woff') format('woff'),
         url('../fonts/raleway-semibold.ttf') format('truetype'),
         url('../fonts/raleway-semibold.svg#raleway-semibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway-bold';
    src: url('../fonts/raleway-bold.eot');
    src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold.woff') format('woff'),
         url('../fonts/raleway-bold.ttf') format('truetype'),
         url('../fonts/raleway-bold.svg#raleway-bold') format('svg');
    font-weight: normal;
    font-style: normal;

}



/*  General CSS*/
body{
    background: #fff;
}

.wrapper{
    width: 1100px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 ,h6{
    color: #626262;
    font-family: "raleway-regular", arial;
    letter-spacing: 1px;
}

h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
 
.clearfix {  
    *zoom: 1;  
}


.logo {
    width: 10%;
}

.icon {
    border-radius: 30px;
}


/*    Billboard    */
.billboard{
    width: 100%;
    height: 690px;
    position: relative;
}

.billboard.light{
    background: url('../img/contact.jpg') no-repeat;   
     
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.billboard.dark{
    background: url('../img/billboard2.jpg') no-repeat;
    
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


.billboard .shadow{
    position: absolute;
    width: 100%;
    height: 142px;
    bottom: 0;
    left: 0;
    margin-bottom: -1px;
    background: url('../img/shadow.png') repeat-x;
}

.billboard .caption{
    margin-top: 130px;
    text-align: center;
}

.billboard .caption.light{
    color: #fff;
}

.billboard .caption.dark{
    color: #5d5d5d;
}

.billboard .caption h1{
    font-family: "raleway-bold";
    font-size: 50px;
    font-weight: bold; 
    margin-bottom: 30px;
}

.billboard .caption.light h1{
    color: #fff;
}

.billboard .caption.dark h1{
    color: #5d5d5d;
}

.billboard .caption p{
    font-family: "raleway-regular";
    font-size: 18px;
    margin-bottom: 30px;
}

.billboard .caption.light p{
    color: #fff;
}

.billboard .caption.dark p{
    color: #5d5d5d;
}

.billboard .caption hr{
    display: inline-block;
    height: 1px;
    width: 30px;
    border: 0!important;   
    margin: 0;
    padding: 0;
}

.billboard .caption.light hr{
    background: #fff;
}

.billboard .caption.dark hr{
    background: #5d5d5d;
}






/*    header    */
header{
    width: 100%;
    height: 125px;
}

header .logo{
    float: left;
    margin-top: 50px;
    width:10%;
}

header nav{
    float: right;
    margin-top: 57px;
}


header nav ul li{
    list-style: none;
    display: block;
    float: left;
    margin-left: 50px;
}

header nav ul li a{
    text-decoration: none;  
    font-family: "raleway-regular";
    font-size: 14px;

    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
}

header.light nav ul li a{  
    color: #fff;
}

header.light nav ul li a:hover{
    color: #B9B9B9;
}

header.dark nav ul li a{  
    color: #5d5d5d;
}

header.dark nav ul li a:hover{
    color: #919191;
}







/*    Services    */
.services ul{
    margin-top: 100px;
}

.services ul li{
    list-style: none;
    float: left;
    margin-left: 80px;
    text-align: center;
}

.services ul li:first-child{
    margin-left: 0;
}

.services ul li .separator{
    display: block;
    width: 1px;
    height: 20px;
    background: #f6f6f6;
    margin: 20px auto;
}

.services ul li h2{
    color: #616161;
    font-family: "raleway-bold";
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.services ul li p{
   color: #838181;
    font-family: "raleway-regular";
    font-size: 14px;
    line-height: 28px; 
    margin-top: 40px;
    letter-spacing: .5px;
}







/*    Video    */
.video{
    display: block;
    width: 100%;
    padding: 2em;
    text-align: center;
    margin-top: 100px;
    background: url('../img/back2.jpg') no-repeat;    
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.video .video_logo{
    margin-top: 85px;
}

.video h3{
    color: #fff;
    font-family: "raleway-regular";
    font-size: 14px;
    font-weight: normal!important;
    margin: 20px 0 0 0;
}

.video #play_btn{
    display: inline-block;
    width: 71px;
    height: 71px;
    background: url('../img/play_btn.png') no-repeat;
    margin-top: 40px;
}




.title{
    text-align: center;
    overflow: hidden;
}

.title h2{
    color: #616161;
    font-family: "raleway-bold";
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-transform: uppercase;
}

.title h3{
    color: #9b9b9b;
    font-family: "raleway-regular";
    font-size: 14px;
    margin: 0 0 20px 0;
    font-weight: normal!important;
}

.title hr.separator{
    display: block;
    width: 40px;
    height: 1px;
    background-color: #ebebeb;
    margin: 0 auto;
    padding: 0;
    border: 0!important;
}





/*    footer    */
footer{
    padding: 35px 0;
    overflow: hidden;
}

footer .footer_logo{
    float: left;
}

footer .rights p{
    float: left;
    color: #838181;
    font-family: "raleway-regular";
    font-size: 13px;
    margin: 5px 0 0 40px; 
}

footer .rights p a{
    color: #777;
    font-family: "raleway-semibold";
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

footer nav ul{
    float: right;
    overflow: hidden;
    list-style: none;
    margin-top: 5px; 
}

footer nav ul li{
    float: left;
    margin-left: 25px;
}

footer nav ul li a{
    color: #838181;
    font-family: "raleway-regular";
    font-size: 13px;
    text-decoration: none;

    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
}

footer nav ul li a:hover{
    color: #616161;
}

#feedback-page {
  text-align: center;
}

#text-feedback {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: white;
  text-align: center;
}

#form-main {
  width: 100%;
  float: left;
  padding-top: 30px;
}

#form-div {
  background-color: #3c3c3c;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 35px;
  padding-bottom: 50px;
  width: 450px;
  float: left;
  left: 50%;
  position: absolute;
  margin-left: -260px;
}

.feedback-input {
  opacity: 0.9;
  color: #0493bd;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  border: 3px solid #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.feedback-input:focus {
  background: #fff;
  box-shadow: 0;
  border: 3px solid #3498db;
  color: #3498db;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.focused {
  color: #30aed6;
  border: #30aed6 solid 3px;
}
/* Icons ---------------------------------- */

#name {
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#name:focus {
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email {
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email:focus {
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#comment {
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

textarea {
  width: 100%;
  height: 150px;
  line-height: 150%;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  background-color: white;
}

#button-blue {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  float: left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor: pointer;
  background-color: #3498db;
  color: white;
  font-size: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

#button-blue:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #0493bd;
}

.submit:hover {
  color: #3498db;
}

.ease {
  border-top: 3px #3c3c3c solid;
  width: 0px;
  height: 76px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.submit:hover .ease {
  width: 100%;
  background-color: white;
}

@media only screen and (max-width: 580px) {
  #form-div {
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}
